<ion-view view-title="Quanto Vale?">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="padding-top">
      <div class="letter" ng-init="jump()">
        <h4>
            <font>Quanto vale: {{values.ask}}?</font>
        </h4>
      </div>
    </div>
    <div class="padding">
      <ul class="list " ng-repeat="val in values.val">
        <li class="center">
          <a id="button" ng-click="compare({{val}}, {{values.trueval}})">
            <span>R$ {{val}}</span>
          </a>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
<div class="tabs tabs-icon-only">
  <a class="tab-item" ng-click="endByRequest()">
    <i class="icon ion-android-close"></i>
  </a>
  <a class="tab-item" ng-click="jumpQuestion()">
    <i class="icon ion-ios-redo"></i>
  </a>
</div>
