<ion-view view-title="Quanto Vale?">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="col"></div>
      <div class="card">
        <div class="item item-text-wrap">
          Quanto vale?
        </div>
      </div>
      <button class="button button-full button-positive" ng-click = "true(); question()">
          Valor 1
      </button>
      <button class="button button-full button-positive" ng-click = "false(); question()">
          Valor 2
      </button>
      <button class="button button-full button-positive" ng-click = "false(); question()">
          Valor 3
      </button>
      <button class="button button-full button-positive" ng-click = "false(); question()">
          Valor 4
      </button>
    </ion-content>
</ion-view>
