<ion-view>
  <ion-content>
    <div ng-if="!logged">
      <div class="padding">
        <div class="hero no-header flat">
          <div class="content">
            <img class="quantovale" src="img/quantovale.png">
          </div>
        </div>


        <div class="list">
          <ion-md-input placeholder="E-mail" highlight-color="balanced" type="text" ng-model="user.email"></ion-md-input>
          <ion-md-input placeholder="Senha" highlight-color="energized" type="password" ng-model="user.password"></ion-md-input>
        </div>
        <div class="button-bar">
          <a type="submit" class="button button-assertive waves-effect waves-button waves-light" ng-click="loginEmail(user)">
            Entrar
          </a>
        </div>
        <div class="padding">
          <div class="button-bar">
            <button class="button button-small button-positive light-bg icon-left ion-social-facebook waves-effect waves-button waves-light" ng-click="login()">
              facebook
            </button>
          </div>
          <div class="row">
            <div class="col text-center">
              <button class="button button-small button-clear button-positive" ui-sref="app.resetsend">
                Esqueci minha senha
              </button>

              <button class="button button-small button-clear button-positive" ui-sref="app.signup">
                Criar uma conta no e-mail
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="logged">
      <div class="padding">
        <div class="hero no-header flat">
          <div class="content">
            <img class="quantovale" src="img/quantovale.png">
          </div>
        </div>
        <div class="button-bar">
          <button ui-sref="app.profile" class="button button-small button-positive light-bg waves-effect waves-button waves-light">
            Meu Perfil
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
