<ion-view view-title="Ranking">
  <ion-content overflow-scroll="false">

    <ion-list dir-paginate="user in users|itemsPerPage:7">

      <a class="item item-avatar" href="#">
        <img ng-src="https://graph.facebook.com/{{ user.id }}/picture?width=700&height=700">
        <h2>{{user.name}}</h2>
        <p>Score: {{user.score}}</p>
      </a>
    </ion-list>
    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" template-url="lib/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
  </ion-content>
</ion-view>
