<ion-view>
  <ion-content>
    <div ng-if="!logged">
      <div class="padding">
        <div class="hero no-header flat">
          <div class="content">
            <img class="quantovale" src="img/quantovale.png">
          </div>
        </div>
        <div class="list">
          <ion-md-input placeholder="Chave" highlight-color="balanced" type="text" ng-model="user.key"></ion-md-input>
        </div>
        <div class="button-bar">
          <a type="submit" class="button button-assertive waves-effect waves-button waves-light" ng-click="resetPasswordKeyEnter(user)">
            Enviar
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
