<ion-view view-title="Esqueci">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div ng-if="!logged">
      <div class="padding">
        <div class="hero no-header flat">
          <div class="content">
            <img class="quantovale" src="img/quantovale.png">
          </div>
        </div>
        <div class="list">
          <ion-md-input placeholder="E-mail" highlight-color="balanced" type="text" ng-model="user.email"></ion-md-input>
        </div>
        <div class="button-bar">
          <a type="submit" class="button button-assertive waves-effect waves-button waves-light" ng-click="resetPassword(user)">
            Enviar
          </a>
        </div>
        <div class="button-bar">
          <a type="submit" class="button button-assertive waves-effect waves-button waves-light" ui-sref="app.resetkeyenter">
            Usar minha chave
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
