.scroll-content{
  background-image: url('../img/bg-clouds.png');
	background-position: 0px 0px
	background-repeat: repeat-x;
  	background-size:cover;
	-webkit-animation:animatedBackground 50s linear infinite;
   	-moz-animation:animatedBackground 50s linear infinite;
    -ms-animation:animatedBackground 50s linear infinite;
    -o-animation:animatedBackground 50s linear infinite;
    animation:animatedBackground 50s linear infinite;
}

.divBar{
  position: relative;
}
