.profile-image-home {
  width: 53%;
  height: 53%;
  border-radius: 75px;
}

.profile-home {
  background-image: url('../img/bg-clouds.png');
  background-size: cover;
  z-index: 1;
  filter: blur(10px);
}

.quantovale {
  width: 100%;
  height: 100%;
}

.background-side {
  background-color: white;
  background-size: cover;
  content: '';
  display: block;
}

.margin-text-left {
  margin-left: 20%;
}
