/* Empty. Add your own CSS if you like */
.bar.bar-light {
  background-color: rgba(255, 255, 255, .66) !important;
}

.scroll-content {
  background-image: url('../img/bg-clouds.png');
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-size: cover;
  animation: animatedBackground 50s linear infinite;
  overflow: visible !important;
}

.divBar {
  position: relative;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.profile-info{
  align-items: center;
  margin-top: 25%;
  filter: contrast(1.5);
}

.profile-image {
	width: 150px;
	height: 150px;
	border-radius: 75px;
}

ul#menu {
  margin: auto;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: rgb(57, 94, 210);
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
}

ul#menu li a:hover {
    background-color: orange;
}
