/* Empty. Add your own CSS if you like */

.scroll-content {
  background-image: url('../img/bg-clouds.png');
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-size: cover;
  animation: animatedBackground 50s linear infinite;
}

.divBar {
  position: relative;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.profile-info{
  align-items: center;
  margin-top: 25%;
  filter: contrast(1.5);
}

.profile-image {
	width: 150px;
	height: 150px;
	border-radius: 75px;
}
